.add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 1rem;
  bottom: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
  background-color: $black;
  border: none;
  border-radius: 50%;
  cursor: url('/icons/pointer.png'), pointer;

  @include responsive('laptop') {
    margin: 2.6rem;
    width: 7rem;
    height: 7rem;
  }

  &::after {
    content: '';
    background-image: url('/icons/add.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;

    @include responsive('laptop') {
      width: 3rem;
      height: 3rem;
    }
  }
}
